#toolbar [class^="icon-"], [class*=" icon-"] {
    width: 16px;
    height: 16px;
    background: none;
}

#toolbar .icon-add {
    margin-top: -8px;
    background: url(../easyui/themes/icons/edit_add.png) no-repeat center center;
}

#toolbar .icon-edit {
    margin-top: -8px;
    background: url(../easyui/themes/icons/pencil.png) no-repeat center center;
}

#toolbar .icon-remove {
    margin-top: -8px;
    background: url(../easyui/themes/icons/edit_remove.png) no-repeat center center;
}

#toolbar .icon-save {
    margin-top: -8px;
    background: url(../easyui/themes/icons/filesave.png) no-repeat center center;
}

#toolbar .icon-undo {
    margin-top: -8px;
    background: url(../easyui/themes/icons/undo.png) no-repeat center center;
}